*{
    margin:0;
    padding:0;
}

body{

}



h2{
display: flex;
font-style: italic;
background-color: #A90331;
color:white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
height: 50px;
border-radius: 10px 10px 0px 0px;
align-items: center;
justify-content: center;
}

h3{
    margin:20px 30px;
    padding-bottom: 30px;;
    
}

p{
font-size: 20px;
margin:20px 30px;
}

.imagecontenu{
   width: 500px;
   display: flex;
   justify-content: center;
   margin:auto;
   padding: 20px;
}


/* BANNIERE */



.banniere{
    display: flex;
    justify-content: center;
    border-radius: 50%;
  
}

.banniere2{
    position: relative;
    display: flex;
    justify-content: center;
    width: 1280px;
    text-align: center;
}

.banniere2 img{
    border-radius: 10px;
}

.capitale{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    border: 1px solid white;
    color:black;
    background-color: white;
    border-radius: 10px;
    opacity: 50%;
    z-index: 10000px;
    margin-top: 250px;
    }




/* --- MENU --- */




nav{
    position:sticky;
    top:0;
    width:1280px;
	height:50px;
    margin: 10px auto;
   
    
    
}


nav ul{
    border-radius: 10px;
    border: 2px solid black;
    height: 50px;
    background-color:#CCC;
    padding :0px 75px;
    
    
}

nav li {
	list-style-type:none;           /* pour éliminer les "bullet" les puces */
	list-style-position:inside;
    /* solution alternative */
    /* display: inline-block; */
}

nav a{
    /* solution alternative */
    /* enlever le float mais laisser le display:block */
	float:left;
	display:block;
	text-decoration: none;          /* enlever le souligné des liens */
	text-align:center;
	width:160px;
    /* solution alternative */
    /* réduire un peu la largeur pour que tous les éléments s'alignent */²
	height:50px;
	line-height:50px;
	background-color:#CCC;
    color:black;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size:1em;
}

nav a:hover {
    
    color:white;
    background-color: #A90331; 
    transition: 0.5s;
    
}





/* --- CONTENU --- */

.container{
display: flex;
flex-direction: column;
justify-content: center;
width: 1280px;
margin: 0px auto;
background-color: lightgrey;
border-radius: 10px 10px 0px 0px;
margin-bottom:20px;
padding-bottom: 20px;
text-align: justify;

}


/* --- ACCUEIL ---  */

a{
    text-decoration: none;
}

.basdepage{
    color:#A90331;
    line-height: 0.1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}

.basdepage2{
    color:#000000;
    line-height: 0.1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin-top:15px;
}
.centre{
    text-align: center;
    line-height: 1;
    font-size:
20px ;}



/** --- CULTURE --- */

.liste ul{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.liste2 ul{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 100px;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.ligne{
    border-bottom: 1px solid rgb(145, 144, 144);
    margin-top: 50px;
}

/** --- GALERIE --- */


.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;

}

 .premiereligne{
    text-align: center;
 }


.img_galerie{
    border:1px solid black;
    padding:10px;
    width: 90%;
    height: 90%;
}


/** --- FORMULAIRE --- **/


.formulaire{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding:5px;

}

.tab1{
    display: inline-block;
    
    
}




input[type='text'] {
    width:250px;
    padding:10px;
}

input[type='submit'] {
    
    width:250px;
    padding:10px;
    margin-top:30px;
    border-radius:20px; 
}

textarea {
    width:250px;
    height:200px;
    resize: none;
}




/** --- LIENS --- **/


.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}
.lien1 a{
    font-size: 15px;
    color:#A90331;
    display: flex;
    flex-direction: column;

}

.lien2 a{
    font-size: 15px;
    color:#A90331;
    display: flex;
    flex-direction: column;

}

.lien3 a{
    font-size: 15px;
    color:#A90331;
    display: flex;
    flex-direction: column;

}

.titrelien{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}


/** --- 404 --- */


h6{

    display: block;
    font-size: 20px;
    text-align: center;
    margin-top:50px;
}

.erreur{
    text-align: center;
}